name: Tests

on: [push]

jobs:
  audit:
    runs-on: ubuntu-latest

    steps:
      - name: Install Rust
        uses: hecrj/setup-rust-action@v1
      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/.crates.toml
            ~/.cargo/.crates2.json
            ~/.cargo/bin/cargo-audit
          key: cargo-audit
      - name: Install cargo-audit
        run: cargo -v install cargo-audit
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ matrix.branch }}
      - name: Audit
        run: |
          cargo audit -D warnings --ignore RUSTSEC-2020-0016 --ignore RUSTSEC-2020-0097 --ignore RUSTSEC-2021-0019
          echo '::warning::Ignoring alert for xcb dependency of arboard https://github.com/khonsulabs/kludgine/issues/46'
          echo '::warning::Ignoring alert for net2 dependency of winit https://github.com/khonsulabs/kludgine/issues/47'

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install x11 dependencies for Kludgine
        run: |
          sudo apt-get install -yqq \
            libxcb-render-util0-dev \
            libxcb-shape0-dev \
            libxcb-xfixes0-dev

      - name: Run clippy
        run: |
          cargo clippy
      - name: Run default features unit tests
        run: |
          cargo test
      - name: Run tokio unit tests
        run: |
          cargo test --no-default-features --features="tokio-rt"

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install x11 dependencies for Kludgine
        run: |
          sudo apt-get install -yqq \
            libxcb-render-util0-dev \
            libxcb-shape0-dev \
            libxcb-xfixes0-dev

      - name: Install code coverage requirements
        run: |
          rustup component add llvm-tools-preview
          rustup install nightly
          curl -L https://github.com/mozilla/grcov/releases/latest/download/grcov-linux-x86_64.tar.bz2 | tar jxf -

      - name: Run code coverage
        run: |
          cargo +nightly test

          zip -0 ccov.zip `find . \( -name "kludgine*.gc*" \) -print`;
          rm -rf target

          ./grcov ccov.zip -s . -t lcov --llvm --branch --ignore-not-existing --ignore "/*" --ignore "/target" -o lcov.info;
          bash <(curl -s https://codecov.io/bash) -f lcov.info;
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          CARGO_INCREMENTAL: 0
          RUSTFLAGS: "-Zprofile -Ccodegen-units=1 -Copt-level=0 -Clink-dead-code -Coverflow-checks=off -Zpanic_abort_tests" # TODO: https://github.com/alexcrichton/proc-macro2/issues/218
          RUSTDOCFLAGS: "-Cpanic=abort"
